@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import './dimens';
@import './theme';
@import "./buttons";
@import './grid';
@import './flexbox';
@import './padding_margin';
@import './input';
@import './global';

.invisible-scroll {
    &::-webkit-scrollbar-track {
        visibility: hidden;
    }

    &::-webkit-scrollbar {
        visibility: hidden;
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #ffffff;
}

.luckiest-font {
    font-family: 'Luckiest Guy', cursive;
}

.text-bold {
    font-weight: 700;
}

.simple__carousel{
    position: relative;
    .carousel__container{
        transition: transform .4s;
        transform: translate3d(0, 0, 0);
        &::after{
            content: '';
            clear: both;
            display: table;
        }
        .carousel__item{    
            float: left;
        }
    }
    .carousel__next, .carousel__prev {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        box-shadow: 0 0 3px 0 #0000004b;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: -20px;
        transition: .3s;
        &.carousel__btn_hide{
            opacity: 0;
        }
        &:hover{
            transform: scale(1.2);
            box-shadow: 1px 1px 5px 0 #0000006e;
            cursor: pointer;
        }
    }
    .carousel__prev {
        right: auto;
        left: -20px;
        background: white;
        border-radius: 50%;
    }
    .carousel__pagination{
        display: flex;
        justify-content: center;
        writing-mode: horizontal-tb;
        align-items: center;
        padding: 8px 0;
        .carousel__pagination-item{
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background-color: #ffaec6;
            margin: 0 4px;
            cursor: pointer;
            &.current {
                background-color: #ff3e79;
                box-shadow: 1px 1px 5px 0 #00000046;
            }
        }
    }
}

.arrow {
    border: solid #242424;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}